body{
    background: linear-gradient(to left, #3A3C58 0%, #0C262E 100%);
    max-width: 100%;
}
.my-title{

    line-height: 67px;
    font-size: 60pt;
    font-family: fantasy;
    position: absolute;
    margin-top: 18%;
    background: -webkit-linear-gradient(left, #2F9AB4 0%, #8873FF 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}

.author-text{
    font-weight: 100;
    font-size: 15.5pt;
    position: absolute;
    margin-top: 53%;
    background: -webkit-linear-gradient(left, #2F9AB4 0%, #8873FF 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}

.foguete-moving{
    animation: moving 5s ease-in-out infinite;
    max-width: 200px;
}

.stoped-object{
    animation: flying 0.5s ease-in-out infinite alternate-reverse;
}
.rotate-object{
    animation: rotation 45s ease-in-out infinite;
}
.player{
    max-width: 200px;
    margin-left: 40%;
    margin-top: 5%;
}
.big-planet{
    max-width: 460px;
    margin-left: 28%;
    margin-top: 7%;
}
.moon{
    max-width: 300px;
    margin-left: 5%;
}

.mini-planet-green{
    max-width: 120px;
    position: absolute;
    margin-left: -40%;
}
.point-default{
    background-color: white;
    width: 3px;
    height: 3px;
    border-radius: 25px;
    position: absolute;
}

.point1{    
    margin-left: 50%;
    margin-top: 10%;
}.point2{    
    margin-left: 70%;
    margin-top: 15%;
}.point3{    
    margin-left: 15%;
    margin-top: 12%;
}.point4{    
    margin-left: 22%;
    margin-top: 30%;
}.point5{    
    margin-left: 30%;
    margin-top: 5%;
}.point6{    
    margin-left: 10%;
    margin-top: 50%;
}.point7{    
    margin-left: 55%;
    margin-top: 25%;
}.point8{    
    margin-left: 80%;
    margin-top: 30%;
}.point9{    
    margin-left: 90%;
    margin-top: 30%;
}.point10{    
    margin-left: 92%;
    margin-top: 60%;
}.point11{    
    margin-left: 85%;
    margin-top: 70%;
}

@keyframes moving {
    from{transform: translateY(500px) }
    to{transform: translateY(-800px)}
}

@keyframes flying {
    from{transform: translateY(100px)}
    to{transform: translateY(80px)}
}

@keyframes rotation {
    from{transform: rotate(0)}
    to{transform: rotate(5turn)}
}